*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #f1faee;
    color: #457B9D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 10vw * 0.1vh, 36px);
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: clamp(8px, 2vh, 36px) clamp(16px, 2vw, 64px);
}

h1, h2, h3, h4, h5, h6 {
    color: #1D3557;
    font-weight: 900;
}

a {
    color: #E63946;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    height: max-content;
    flex-wrap: wrap;
    gap: 2rem;
}

section {
    flex-basis: 100%;
}

textarea {
    all: unset;
    font: inherit;
    border: #457B9D 1px solid;
    border-radius: 2px;
    background-color: #A8DADC;
    min-width: 80%;
    min-height: 50%;
    resize: both;
    padding: 1%;
}
